@charset "utf-8";
@font-face {
    font-family: 'ChosunGs.eot';
    src: url('font/조선궁서체/ChosunGs.eot');
    src: url('font/조선궁서체/ChosunGs.eot?#iefix') format('embedded-opentype'),
        url('font/조선궁서체/ChosunGs.woff2') format('woff2'),
        url('font/조선궁서체/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    display: block;
}

body {
    color: #333;
    font-family: 'Pretendard';
}
h2{
    font-size: 80px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'font/조선궁서체/ChosunGs.eot';
}

/* header */
header {
    width: 100%;
    position: relative;
    z-index: 99;
}

header .notice {
    width: 100%;
    height: 40px;
    background-color: #333;
}

header .notice a {
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.top{
    width: 100%;
    position: relative;
}
.button {
    position: absolute;
    top: 0px;
    right: 100px;
}
.button ul{
    display: flex;
    gap: 20px;
}
.button ul li a{
    font-size: 11px;
}

/* logo */
.logo {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 44px 0 24px;
}
.logo a{
    width: 211px;
    height: 52px;
}
.logo a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* nav */
.nav{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
.nav .menu{
    display: flex;
}
.nav .menu .depth01{
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-weight: 500;

}
.nav .menu .depth01:nth-of-type(4),
.nav .menu .depth01:nth-of-type(5),
.nav .menu .depth01:nth-of-type(6){
    color: #DC7F73;
}
.nav .menu .depth02{
    display: none;
}
.nav .menu .depth02 li{
    text-align: left;
    width: 100px;
    position: relative;
    z-index: 9;
    text-align: center;

}
.nav .menu .depth02::after{
    content: '';
    width: 100%;
    height: 300px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
}


.nav .icon{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 5px;
    right: 200px;
}
.nav .icon li{
    width: 25px;
    height: 25px;
}
.nav .icon li a{
    width: 100%;
    height: 100%;
}
.nav .icon li a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* main_visual */
.main_visual{
    width: 100%;
    height: 1008px;
    overflow: hidden;
}
.main_visual a{
    width: 100%;
    height: 100%;
    position: relative;
}
.main_visual a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual a .text{
    width: 1280px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);
    color: #fff;
}
.main_visual a .text .top{
    font-size: 20px;
    margin-bottom: 10px;
}
.main_visual a .text .title{
    font-size: 40px;
    margin-bottom: 30px;
}
.main_visual a .text .bt{
    font-size: 20px;
}

/* .new-arrivals */
.new-arrivals{
    width: 100%;
    margin: 170px 0;
}
.new-arrivals .inner{
    max-width: 1680px;
    width: calc(100% - 40px);
    margin: 0 auto;
    position: relative;
}
.new-arrivals .inner h2{
    font-size: 80px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'ChosunGs.eot';
}
.new-arrivals .inner .swiper{
    width: 100%;
    position: static;
}
.new-arrivals .inner .swiper-wrapper{
    display: flex;
    width: 100%;
    position: relative;
}
.new-arrivals .swiper-slide{
    width: 100%;
    position: relative;
}
.new-arrivals .swiper-slide .image{
    width: 100%;
    height: 24vw;
    border: 1px solid #eee;
    position: relative;
}
.new-arrivals .swiper-slide .image:hover .two{
    opacity: 1;
    transition: 0.7s;
}
.new-arrivals .swiper-slide .image:hover .one{
    opacity: 0;
    transition: 0.7s;
}
.new-arrivals .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.new-arrivals .swiper-slide .image .two{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;
    width: 314px;
    height: 314px;
    object-fit: cover;
    display: block;
}
.new-arrivals .swiper-slide .text{
    margin: 40px 0;
    font-size: 15px;
    font-weight: 300;
}
.new-arrivals .swiper-slide .text .item_price{
    color: #fb6808;
    font-size: 18px;
}
.new-arrivals .swiper-slide .text .item_title{
    color: #545454;
    margin-bottom: 30px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.new-arrivals .swiper-button-next{
    position: absolute;
    right: -50px;
}
.new-arrivals .swiper-button-next img{
    width: 30px;
    height: 30px;
}
.new-arrivals .swiper-button-prev{
    position: absolute;
    left: -50px;
}
.new-arrivals .swiper-button-prev img{
    width: 30px;
    height: 30px;
}
.new-arrivals .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    display: none;
}
.new-arrivals .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    display: none;
}
.more_btn{
    display: flex;
    justify-content: center;
}
.more_btn a{
    width: 350px;
    height: 53px;
    border: 1px solid #000;
    text-align: center;
    line-height: 53px;
    font-size: 18px;
    font-weight: 700;
}
.more_btn a:hover{
    background-color: #eee;
}


/* .category */
.category{
    width: 100%;
    margin-bottom: 170px;
}
.category .inner{
    max-width: 1680px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.category .inner .item{
    width: 16%;
    height: 30vw;
    position: relative;
}
.category .inner .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category .inner .item .two{
    position: absolute;
    top: 0;
    left: 0;
}
.category .inner .item .text{
    width: 100%;
    position: absolute;
    bottom: 8%;
    left: 0;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.category .inner .item .text p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 25px;
}
.category .inner .item .text a{
    width: 150px;
    height: 50px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 50px;
}
.category .inner .item:hover .text{
    opacity: 1;
    transition: 0.5s;
}
.category .inner .item:hover::before{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: #0000005e;
    position: absolute;
    top: 0;
    left: 0;
}


/* .lookbook */
.lookbook {
    width: 100%;
    margin-bottom: 170px;
}
.lookbook .title{
    width: 100%;
    text-align: center;
}
.lookbook .title h2{
    margin-bottom: 10px;
}
.lookbook .title p{
    margin-bottom: 50px;
}
.lookbook_slide{
    width:100%;
}
.lookbook_slide img{
    width: 100%;
}
.lookbook .swiper{
    position: static;
    padding: 85px 0;
}
.lookbook .slide{
    position: relative;
}
.lookbook_slide .swiper-slide{
    position: relative;
}
.lookbook_slide .swiper-slide::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #00000083;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.lookbook_slide .swiper-slide.swiper-slide-active{
    transform: scale(1.2);
    padding-left: 60px;
    padding-right: 60px;
}
.lookbook_slide .swiper-slide{
    transform: scale(0.8);
}
.lookbook_slide .swiper-slide.swiper-slide-active::before{
    display: none;
}

.lookbook_slide .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    display: none;
}
.lookbook_slide .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    display: none;
}
.lookbook_slide .swiper-button-next{
    position: absolute;
    top: 50%;
    right: 20%;
}
.lookbook_slide .swiper-button-prev{
    position: absolute;
    top: 50%;
    left: 20%;
}

/* .notice */
.notice{
    width: 100%;
    display: flex;
    /* margin-bottom: 150px; */
}
.notice .box{
    width: 50%;
}
.notice .box img{
    width: 100%;
    object-fit: cover;
}

/* .best */
.best{
    width: 100%;
    margin-top: 170px;
    margin-bottom: 170px;
}
.best .inner{
    max-width: 1680px;
    width: calc(100% - 40px);
    margin: 0 auto;
}
.best .inner .title{
    text-align: center;
    margin-bottom: 50px;
}
.best .inner .title h2{
    margin-bottom: 10px;
}
.best .inner .best-nav{
    margin-bottom: 50px;
}
.best .inner .best-nav ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    cursor: pointer;
}
.best .inner .best-nav ul li.active{
    font-weight: bold;
}
.best .inner .item_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
    display: none;
}
.best .inner .item_wrap.active{
    display: flex;
}
.best .inner .item_wrap .item{
    width: 24%;
}
.best .inner .item_wrap .item>a img{
    width: 100%;
    height: 26vw;
    object-fit: cover;
}
.best .inner .item_wrap .item .text {
    padding: 20px 0;
}
.best .inner .item_wrap .item .text .item_title{
    margin-bottom: 10px;
    font-size: 15px;
    color: #535353;
}
.best .inner .item_wrap .item .text .price{
    color: #fb6908;
    font-size: 18px;
}
.best .inner .item_wrap .item .text .text-icon{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
.best .inner .item_wrap .item .text .text-icon img:first-child{
    width: 34px;
    height: 16px;
    object-fit: cover;
}
.best .inner .item_wrap .item .text .text-icon img:nth-child(2){
    width: 100px;
    height: 16px;
    object-fit: cover;
}

.content {
    margin-bottom: 170px;
}
.content .inner{
    max-width: 1680px;
    width: calc(100% - 40px);
    margin: 0 auto;
}
.content .inner .title{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.content .inner .title h2{
    margin-bottom: 10px;
}
.content .inner .in_box{
    display: flex;
    justify-content: space-between;
}
.content .inner .in_box .item{
    width: 49%;
}
.content .inner .in_box .item img{
    width: 100%;
    height: 40vw;
}

footer .top{
    width: 100%;
    height: 80px;
    background-color: #FEF1EB;
}
footer .top .inner{
    max-width: 1680px;
    width: calc(100% - 40px);
    margin: 0 auto;
}
footer .top .inner ul{
    height: 80px;
    display: flex;
    align-items: center;
    gap: 50px;
}
footer .top .inner ul li:hover{
    font-weight: bold;
}
footer .bottom{
    background-color: #FF595B;
    width: 100%;
}
footer .bottom .inner{
    max-width: 1680px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}
footer .bottom .inner .right{
    display: flex;
    gap: 100px;
    color: #fff;
}
footer .bottom .inner .right .in_box{
    padding-top: 50px;
}
footer .bottom .inner .right .in_box .title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}
footer .bottom .inner .right .in_box .sub{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 30px;
}
footer .bottom .inner .right .in_box .last{
    line-height: 25px;
}
footer .bottom .inner .right .icon_box{
    display: flex;
    gap: 15px;
}
footer .bottom .inner .right .icon_box a img:hover{
    opacity: 0.5;
}

footer .bottom .inner .left .logo{
    margin-bottom: 50px;
    justify-content: left;
}
footer .bottom .inner .left .text p{
    margin-bottom: 10px;
    color: #fff;
}
footer .bottom .inner .left .text p:nth-of-type(9){
    margin-top: 30px;
    color: #d2d2d2;
}
